.home {
  background-color: #e0e0e0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.burger_menu {
  padding-left: 2%;
  padding-top: 1%;
  color: #705cc9;
}
.left_container {
  width: 15%;
  height: 100%;
  background-image: linear-gradient(to top, #ca60e0, #705cc9);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  animation-name: openFromLeftToRight;
  animation-duration: 1s;
  animation-timing-function: ease; /* You can adjust the easing function as desired */
}

.unclicked_menu {
  width: 100%;
}
.burger_menu_left_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #e2e0e0;
  padding: 2% 5%;
  cursor: pointer;
}
.burger_menu_right_container {
  padding-left: 2%;
  padding-top: 1%;
  color: #705cc9;
  cursor: pointer;
}

.user_icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #705cc9;
  background-color: #e2e0e0;
  color: #705cc9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user_icon_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.user_info {
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  font-weight: 700;
  align-items: center;
  gap: 5%;
  color: #e2e0e0;
  padding: 0% 5%;
  font-family: Outfit, sans-serif;
  /* min-width: 250px; */
}
.sections {
  flex-grow: 1;
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section {
  width: 85%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  margin: 10% 5%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10%;
  color: #e2e0e0;
  font-family: Outfit, sans-serif;
  padding-left: 5%;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
}
.section:hover {
  background-color: rgba(112, 92, 201, 0.4);
}
.right_container_content {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
}
.right_container_root {
  height: 100%;
  width: 100%;
  overflow: auto;
}
.right_container_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}
.right_container_header {
  border-bottom: 1px solid #705cc9;
  font-size: 50px;
  color: #705cc9;
}
.burger_menu_placeholder {
  margin-top: 2%;
}
.projects {
  /* display: flex; */
  flex-grow: 1;
}
.project {
  border: 1px solid #705cc9;
  width: 70%;
  height: 70%;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5%;
  color: #705cc9;
  font-size: 13px;
  cursor: pointer;
  min-width: 700px;
}
.project:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.project_info_section {
  width: 30%;
  display: flex;
  height: 50%;
  flex-direction: column;
}

.project_info_section div {
  margin: 0;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  font-family: Outfit, sans-serif;
  font-weight: 500;
}
.project_icon {
  margin-left: 2%;
}
.status {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  align-items: center;
}
.status_icon {
  flex-grow: 1;
}
.project_info_section .status_p_tag {
  width: 50%;
  margin-bottom: 5px;
}

.delte_icon {
  margin-right: 2%;
}
.delte_icon:hover {
  color: rgb(243, 72, 72);
}
.create_project {
  display: flex;
  justify-content: flex-end;
  margin-top: 1%;
}
.create_project_btn {
  border: 1px solid #705cc9;
  padding: 0.5%;
  border-radius: 5px;
  background-color: #705cc9;
  color: #e0e0e0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 2px;
}
.create_project_btn p {
  margin: 0;
}
.create_project_btn:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.project_container {
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-top: 3%; */
}
.pointer_container {
  display: none;
  align-items: center;
  color: #705cc9;
  position: relative;
}
.pointer_container svg {
  position: absolute;
  top: 50%;
  left: -15px; /* Adjust this value as needed to move the pointer across the left border */
  transform: translateY(-50%);
}
.display-block {
  display: block;
}

.display-none {
  display: none;
}
.storage_icon {
  color: #705cc9;
}
.no_project {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #705cc9;
  font-size: 1em;
  font-family: Outfit, sans-serif;
  font-weight: 500;
  height: 100%;
}
@media (max-height: 900px) {
  .project_container {
    margin-top: 1.5%;
  }
  .project_info_section {
    font-size: 10px;
  }
}

@keyframes openFromLeftToRight {
  from {
    width: 0;
  }
  to {
    width: 15%;
  }
}
@keyframes close {
  from {
    width: 15%;
  }
  to {
    width: 0%;
  }
}
