.project_root_container {
  background-color: #e0e0e0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.project_main_container {
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.project_right_main_container {
  /* border: 10px solid red; */
  /* width: 80%; */
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.project_right_container {
  /* border: 5px solid green; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 650px;
  background-color: #e0e0e0;
}
.project_info_container {
  /* border: 5px solid blue; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.project_info {
  /* border: 5px solid yellow; */
  width: 96%;
  height: 97%;
}
.header {
  display: flex;
  align-items: center;
  margin-left: 2%;
  width: 97%;
  font-size: 30px;
  font-family: Outfit, sans-serif;
  font-weight: 500;
}
.s3_route_placeholder::placeholder {
  /* Add your placeholder styles here */
  color: #999; /* Example color */
  font-style: italic; /* Example font style */
  font-size: 10px;
}
.header_info {
  /* border: 5px solid pink; */
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  font-family: Outfit, sans-serif;
}
.single_header_info {
  border-radius: 10px;
  width: 15%;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px #998add;
}
.single_header_input {
  height: 60%;
  background-color: #e0e0e0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  outline: none;
  padding: 0;
  margin: 0;
  border: none;
  border-bottom: 1px solid #705cc9;
  text-align: center;
  font-weight: 700;
}
.single_header_input_info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e0e0e0;
  font-size: large;
  font-weight: 400;
  flex-grow: 1;
  background-color: #705cc9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* font-weight: 200; */
}
.special_header_input {
  color: #705cc9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toggle_header {
  height: 100%;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 5%;
  cursor: pointer;
}
.label_toggle {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.unclickable {
  pointer-events: none;
}
.project_body_info {
  /* border: 1px solid red; */
  flex-grow: 1;
  height: 90%;
}
.extra_info_container {
  border-bottom: 1px solid #705cc9;
  width: 99.5%;
  height: 7%;
  color: #705cc9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.add_dir {
  height: 90%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: flex-end;
}
.s3_route_placeholder {
  background-color: #e0e0e0;
  outline: none;
  padding: 0;
  margin: 0;
  border-color: #705cc9;
  border-radius: 5px;
  text-align: start;
  font-weight: 600;
  width: 100%;
  height: 100%;
  font-size: small;
}
.s3_route_placeholder_container {
  height: 100%;
  /* width: 50%; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5%;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.s3_route_input_holder {
  width: 35%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.import_dir_info {
  /* border: 1px solid #705cc9; */
  height: 70%;
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #705cc9;
}

.hidden_file_input {
  display: none;
}
.path_container {
  border: 1px solid #705cc9;
  margin-bottom: 0.5%;
  border-radius: 10px;
  /* min-height: 12%; */
  width: 50%;
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
  /* overflow: auto; */
}
.image_name_spacer {
  width: 3%;
}
.project_body_container {
  margin-top: 1%;
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
  font-size: 13px;
  font-weight: 500;
  flex-wrap: wrap;
  font-family: Outfit, sans-serif;
}
.left_bndry_image_spacer {
  width: 1.7%;
}
.card_info_1,
.card_info_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
.card_info_2 {
  margin-left: 5%;
}
.card_info_1_2nd_child {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.card_animation {
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* gap: ; */
}
.info_detail {
  width: 50%;
  display: flex;
}
.card_decorator {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
  background-color: #705cc9;
  min-height: 100%;
  width: 3%;
}
.info_section {
  width: 90%;
  display: flex;
  margin-left: 2%;
  align-items: center;
  flex-grow: 1;

  /* ju. */
}
.dir_card_animation {
  display: flex;
  /* justify-content: space-around;
  width: 15%; */
}
.dir_root_container {
  width: 90%;
  display: flex;
  align-items: center;
  /* ju. */
}
.root_container {
  display: flex;
  min-height: 510%;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}
.sub_dir {
  /* border: 1px solid black; */
  width: 100%;
  /* padding: 30% 0%; */
  margin-left: 5%;
  height: 150%;
}
.sub_dir .path_container {
  /* height: 100%; */
  width: 100%;
}
.sub_dir .dir_path_container {
  border: none;
}
.sub_dir .path_container {
  border: none;
}
.sub_dir .card_decorator {
  background-color: #e0e0e0;
}
.summary {
  height: 100%;
  width: 30%;
}
.start_process {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.right_right_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
}
.submit_btn {
  width: 80%;
  height: 60%;
  color: #e0e0e0;
  /* border: 1px solid black; */
  background-color: #705cc9;
  border-radius: 5px;
  border-width: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.submit_btn:hover {
  background-color: rgb(28, 156, 28);
  box-shadow: 5px 5px 10px rgb(28, 156, 28);
}
.wrong_s3_input {
  border-color: rgb(242, 101, 101);
  color: rgb(242, 101, 101);
}
.info_container .wrong_s3_input_info {
  background-color: rgb(242, 101, 101);
}
.info_text.wrong_s3_input_info::before {
  border-color: transparent transparent rgb(242, 101, 101);
}
.wrong_s3_input:focus {
  border-color: #f26565;
}
.info_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.icon {
  /* position: relative; */
  cursor: pointer;
}
.info_text {
  top: 30px;
  position: absolute;
  min-width: 1000%;
  height: 700%;
  /* margin-top: 30px; */
  border-radius: 5px;
  background-color: #998add;
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 0.8em;
  padding-left: 5px;
  font-family: Outfit, sans-serif;
}
.info_text .convention_header {
  text-decoration: underline;
  margin-left: 0;
  margin-top: 5px;
}
.info_text p {
  margin: 0;
  margin-left: 5px;
}
.info_text::before {
  content: "";
  border-style: solid;
  border-width: 0 0.5em 1.2em;
  border-color: transparent transparent #998add;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.display_none {
  display: none;
}
@media screen and (max-width: 1400px) {
  .single_header_info {
    border-radius: 5px;
  }
  .single_header_input {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .single_header_input_info {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 15px;
  }
  .single_header_info {
    font-size: 12px;
  }
  input::placeholder {
    font-size: 12px;
  }
  .s3_route_placeholder_container {
    font-size: 12px;
    margin-left: 5px;
  }
  .submit_btn {
    font-size: 12px;
    height: 70%;
  }
  .extra_info_container {
    margin-top: 2%;
  }
}
@media screen and (max-width: 1070px) {
  .s3_route_placeholder_container {
    width: 70%;
  }
  .single_header_info {
    font-size: 12px;
  }
  .single_header_input_info {
    font-size: 12px;
  }
  .card_info_1 {
    font-size: 10px;
  }
  .card_info_2 {
    font-size: 10px;
  }
  .header {
    font-size: 30px;
    font-weight: 500;
  }
}
@media screen and (max-width: 660px) {
  .start_process {
    width: 35%;
  }
  .single_header_info {
    font-size: 8px;
  }
  .single_header_input_info {
    font-size: 8px;
  }
  input::placeholder {
    font-size: 8px;
  }
}
